<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- ======================================== 配置MyBatis的SqlSessionFactory ========================================= -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="ds"></property>
        <property name="mapperLocations" value="classpath:com/nsk/dao/mapper/*.xml"></property>
        <property name="typeAliasesPackage" value="com.nsk.entity.User"/>
    </bean>

    <!-- ======================================== 配置MyBatis自动扫描SQL映射文件  ========================================= -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer"><!--使用mapper的扫描器自动扫描mapper接口在spring中进行注册 -->
        <property name="basePackage" value="com.nsk.dao"></property>  <!-- basePackage指的是mapper所对应的接口的包名 -->
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property><!--此句配不配都行-->
    </bean>

</beans>